.header-nav {
  background-color: #272727;
  padding: 0px 20px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  padding: 0px 12px;
}
.header-logo-img {
  width: 100px;
}
.home-and-job-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  list-style-type: none;
  padding: 0;
  width: 50%;
}
.header-link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.logout-btn {
  background-color: #6366f1;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;
  align-self: flex-end;
}
.logout-btn-list-item {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 576px){
  .header-nav{
    width: 100%;
  }
  .header-logo-img{
    padding: 7px;;
  }
}
@media screen and (max-width: 330px){
  .header-container{
    flex-direction: column;
  }
}