.job-details-and-similiar-job-container {
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background-color: #000000;
  padding: 20px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-details-container {
  color: #ffffff;
  list-style-type: none;
  padding: 0;
}
.job-details-div {
  margin: 7px;
  background-color: #272727;
  padding: 28px 20px;
  border-radius: 10px;
}
.skills-heading {
  font-size: 20px;
}
.skills-div {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}
.skill-logo-and-name-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
}
.skill-logo-img {
  width: 50px;
}
.life-at-company-img {
  width: 230px;
}
.life-at-company-sm-img {
  display: none;
}
.life-at-company-heading {
  font-size: 23px;
  margin-bottom: 0;
}
.life-at-company-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.similiar-jobs-heading {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
}
.similiar-jobs-container {
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}
.similiar-jobs-individual-card {
  padding: 15px;
  border-radius: 5px;
  background-color: #272727;
  margin: 7px;
  width: 30%;
}
.similiar-job-title-text {
  font-size: 14px;
  margin: 0;
}
.description-and-link-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.company-url {
  text-decoration: none;
  color: #6366f1;
}
.link-and-link-icon-div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6366f1;
}
.similir-job-location-and-designation-div {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.failure-heading {
  font-size: 20px;
  margin-bottom: 0px;
}
.failure-para {
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 5px;
}
.job-details-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}
.failure-img {
  width: 300px;
}
.retry-btn {
  background-color: #6366f1;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
}
.similir-job-location-and-designation-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.margin {
  margin: 5px 0px;
}

.job-details-title-text {
  font-size: 18px;
  margin: 0;
}
.package-text {
  margin: 0;
}
.company-url {
  font-size: 18px;
}
.visit-icon {
  font-size: 13px;
}
.similiar-job-employment-type {
  margin: 0;
}
.similiar-job-location-text {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .job-details-and-similiar-job-container {
    width: 100%;
  }
  .job-details-container {
    width: 100%;
  }
  .package-text {
    align-self: flex-start;
  }
  .description-and-link-div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .skills-div {
    width: 100%;
    justify-content: flex-start;
  }
  .life-at-company-div {
    display: flex;
    flex-direction: column;
  }
  .life-at-company-img {
    display: none;
  }
  .life-at-company-sm-img {
    margin-top: 10px;
    display: block;
    width: 100%;
    border-radius: 7px;
  }
  .similiar-jobs-individual-card {
    width: 100%;
  }
  .similiar-jobs-container {
    width: 100%;
  }
}
@media screen and (max-width: 220px) {
  .skill-logo-and-name-div {
    flex-direction: column;
  }
}
